@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*Global ===================================================================*/
.tab-content {
      clear: none;
}

a {
	text-decoration: none;
	border: none;
	color: #BEBEBE;
}

img {
	border: none;
}
	
html, body {
	font-family: 'Arimo', sans-serif;
	color: #737373;
	margin: 0;
}

.semiopaque {
	opacity: 0.93;
	background-color: white;
}

img.icons {
	height: 20px;
	width: 20px;
}

img.muffin {
	position: absolute;
	z-index: -1;
	margin-left: -40pt;
	margin-top: -15pt;
	height: 100pt;
	width: 100pt;	
}

img.dots {
	height: 35px;
	width: 35px;	
}

/*Header ===================================================================*/
header {
	width: 100%;
}

#menu {
	position: fixed;
	text-align: center;
	padding-top: 8px;
	height: 27px;
	width: 35px;
	top: 5pt;
	right: 5pt;
	cursor: pointer;
	z-index: 999;
}

#menuslide {
	font-size: 15pt;
	text-align: left;
	position: fixed;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
	height: 100%;
	width: 120px;
	right: 0;
	display: none;
	z-index: 998;
}

#socialmediaslide {
	padding-top: 50px;
	letter-spacing: 1pt;
	height: 20px;
	width: 120px;
}
img.menuicon {
	height: 20px;
	width: 20px;
}


/*Body ===================================================================*/

#wrapper {
	padding-left: 70px;
	padding-right: 70px;
	width: 584px;
	margin: 0 auto;
	position: relative;
}

#top {
	display: table;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 20px;
}

#title {
	font-size: 65pt;
	letter-spacing: -3.5pt;
	margin-left: -4pt;
}

#subtitle {
	font-size: 18pt;
	letter-spacing: -0.3pt;
	margin-top: -11pt;
	margin-left: 85pt;
}

#dots {
	display: table;
	margin: 0 auto;
}

.greytext {
}

.blueslantedtext {
	font-style: italic;
	color: #577AA1;
}

.text {
	text-align: justify;
	font-size: 13pt;
	letter-spacing: -0.3pt;
}

.code {
	font-family: 'Source Code Pro', sans-serif;
	margin-top: 20pt;
	margin-bottom: 20pt;
	margin-left: 40pt;
	margin-right: 20pt;
	text-align: justify;
	letter-spacing: -0.3pt;
}

h1 {
	font-weight: bold;
	letter-spacing: -2.2pt;
	margin-left: -2px;
	margin-bottom: 13px;
}

/*Footer ===================================================================*/
footer {
	margin-top: 120px;
	margin-bottom: 50px;
	font-size: 9pt;
	letter-spacing: -0.3pt;
	width: 100%;
	text-align: center;
}

#socialmedia {
	letter-spacing: 5pt;
	height: 20px;
}